.BuildArea {
  border: 1px solid black;
  padding: 0 0 40px 0;
}

.BuildArea-controls {
  display: block;
}

.BuildArea-controls-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px;
}

.BuildArea-controls-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.BuildArea-controls--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.BuildArea-controls-color {
  width: 40px;
  height: 40px;
  background-color: #514c55;
  border: 2px solid #422800;
  border-radius: 8px;
  box-shadow: #422800 4px 4px 0 0;
  transform: translate(-3px, -3px);
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
}

.BuildArea-controls-color--selected {
  background-color: #fbeee0;
  box-shadow: #422800 3px 3px 0 0;
  transform: translate(-2px, -2px);
}

.BuildArea-grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  width: min-content;
  margin: 0 auto;
  border: 2px solid #422800;
  border-radius: 8px;
  box-shadow: #422800 4px 4px 0 0;
  transform: translate(-3px, -3px);
  overflow: hidden;
  background-color: #bdbab8;
  gap: 2px;
}

.BuildArea-grid--active {
  cursor: pointer;
}

.BuildArea-grid-item {
  width: 40px;
  height: 40px;
  background-color: #514c55;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
