.BuildArea {
  border: 1px solid black;
  padding: 0 0 40px 0;
}

.BuildArea-controls {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.BuildArea-controls--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.BuildArea-controls-color {
  width: 40px;
  height: 40px;
  background-color: #5c5b5b;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
}

.BuildArea-controls-color--selected {
  background-color: #918b8b;
  box-shadow: 2px 2px 5px #5c5b5b;
}

.BuildArea-grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: center;
}

.BuildArea-grid--active {
  cursor: pointer;
}

.BuildArea-grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #5c5b5b;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
