.ScreenArea {
  overflow-x: auto;
  margin: 0 0 20px 0;
  background: linear-gradient(to top right, #5668a3, #3f87a6, #75f8f8);
}

.ScreenArea-inner {
  height:250px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  border-bottom: 8px solid #e0cebd;
}

.ScreenArea-inner-firstUnit {
  margin-left: auto;
}

.ScreenArea-inner-lastUnit {
  margin-right: auto;
}

.ScreenArea-unit {
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
}

.ScreenArea-unit-fighter {
  height: 100px;
  z-index: 1;
}

.ScreenArea-unit--negative {
  animation-name: negative;
  animation-duration: 1100ms;
  animation-iteration-count: 1;
}

@keyframes negative {
  0% { filter: invert(0) }
  50% { filter: invert(1) }
  100% { filter: invert(0) }
}

.ScreenArea-unit--shaking {
  animation-name: shake;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.ScreenArea-unit-humanhealth {
  margin: 0 0 10px 0;
}

.ScreenArea-unit-damage {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, 'Courier Prime', monospace;
  font-size: 24px;

  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: damage;
}

@keyframes damage {
  from {
    margin-bottom: 10px;
    color: #fffc5f;
    text-shadow: 1px 1px 5px #000000;
  }
  to {
    margin-bottom: 30px;
    color: #fffc5f00;
    text-shadow: 1px 1px 5px #00000000;
  }
}

.ScreenArea-unit-damagerecieved {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, 'Courier Prime', monospace;
  font-size: 24px;
  color: #ff000000;

  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: damagerecieved;
}

@keyframes damagerecieved {
  from {
    margin-bottom: 10px;
    color: #ff0000;
    text-shadow: 1px 1px 5px #000000;
  }
  to {
    margin-bottom: 30px;
    color: #ff000000;
    text-shadow: 1px 1px 5px #00000000;
  }
}

.ScreenArea-space {
  flex: 0 1 50px;
}

.ScreenArea-soundButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.ScreenArea-loadingModel {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #fffc5f;
  text-shadow: 1px 1px 5px #000000;
}

.ScreenArea-loadingModel--leaving {
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: loadingModel;
}

@keyframes loadingModel {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ScreenArea-dialog--lost {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 40px;
  background-color: #514c55e7;
  border: 4px solid #e0cebd;
  border-radius: 18px;
  color: #f2f1f5;
  text-shadow: 1px 1px 3px black;
  font-family: 'Audiowide', cursive;
  text-align: center;
}

.ScreenArea-dialog--won {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 40px;
  background-color: #8081ff;
  border: 4px solid thistle;
  border-radius: 18px;
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

.ScreenArea-dialog-result {
  font-size: 36px;
}

.ScreenArea-dialog-score {
  font-size: 24px;
}

.ScreenArea-preload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.ScreenArea-preload-lost {
  font-family: 'Audiowide';
}
.ScreenArea-preload-won {
  font-family: 'Roboto';
  font-weight: bold;
}

@media (max-width: 768px) {
  .ScreenArea-dialog--lost {
    padding: 10px 2px;
  }

  .ScreenArea-dialog--won {
    padding: 10px 2px;
  }

  .ScreenArea-dialog-result {
    font-size: 26px;
  }
  
  .ScreenArea-dialog-score {
    font-size: 20px;
  }
}