.ScreenArea {
  height:300px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.ScreenArea-unit {
  width: 50px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.ScreenArea-unit-health {
  position: absolute;
  height: 20px;
  top: -20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.ScreenArea-unit-damage {
  position: absolute;
  height: 20px;
  top: -40px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.ScreenArea-unit--player {
  background-color: darkgray;
}

.ScreenArea-unit--princess {
  background-color: deeppink;
}

.ScreenArea-space {
  width: 50px;
  height: 100px;
}

.ScreenArea-unit--enemy1 {
  background-color: crimson;
}

.ScreenArea-unit--enemy2 {
  background-color: coral;
}

.ScreenArea-unit--enemy3 {
  background-color: gold;
}

.ScreenArea-unit--enemy4 {
  background-color: forestgreen;
}

.ScreenArea-unit--enemy5 {
  background-color: steelblue;
}

.ScreenArea-unit--enemy6 {
  background-color: navy;
}

.ScreenArea-unit--enemy7 {
  background-color: indigo;
}

.ScreenArea-unit--enemy8 {
  animation-name: rainbow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  from {background-color: red; }
  15%  {background-color: orange; }
  30%  {background-color: yellow; }
  45%  {background-color: green; }
  60%  {background-color: deepskyblue; }
  75%  {background-color: blue; }
  90%  {background-color: purple; }
  to   {background-color: red; }
}

.ScreenArea-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: rgb(72 72 72 / 96%);
  box-shadow: 5px 5px 5px rgb(66 64 64 / 56%);
}

.ScreenArea-dialog-result {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.ScreenArea-dialog-score {
  color: white;
  font-size: 24px;
  text-align: center;
}