.ScreenArea {
  height:300px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.ScreenArea-unit {
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
}

.ScreenArea-unit-health {
  height: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.ScreenArea-unit-damage {
  height: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}


.ScreenArea-unit-human {
  width: 50px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

.ScreenArea-unit-human--player {
  background-color: darkgray;
}

.ScreenArea-unit-human--princess {
  background-color: deeppink;
}

.ScreenArea-space {
  width: 50px;
  height: 100px;
}

.ScreenArea-dialog {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 40px;
  background-color: rgb(72 72 72 / 96%);
  box-shadow: 5px 5px 5px rgb(66 64 64 / 56%);
}

.ScreenArea-dialog-result {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.ScreenArea-dialog-score {
  color: white;
  font-size: 24px;
  text-align: center;
}